.search-input {
    height: 2.5rem;
    width: 26rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.8rem;
    background-image: url(../../../assets/icons/search.svg);
    background-position-y: center;
    background-position-x: 23.5rem;
    background-size: 1.3rem;
    background-repeat: no-repeat;
}

.search-input:focus {
    outline: none;
}

@media screen and (max-width: 620px) {
    .search-input {
        width: 12rem !important;
        background-position-x: 10rem !important;
    }
}

@media screen and (max-width: 1024px) {
    .search-input {
        width: 20rem;
        background-position-x: 17.8rem;
    }
}