<div class="wrapper">
    <div class="one">
        <div class="content-info">
            <div class="content-title">
                <span class="title">Lorem ipsum dolor, sit amet</span>
                <span class="sub-title">Lorem ipsum dolor</span>
            </div>
            <span class="viewers">1900 viewers</span>
        </div>
    </div>
    <div class="two">
        <div class="content-info small-grid">
            <div class="content-title">
                <span class="sub-title">Lorem ipsum dolor</span>
            </div>
            <span class="viewers">1900 viewers</span>
        </div>
    </div>
    <div class="three">
        <div class="content-info small-grid">
            <div class="content-title">
                <span class="sub-title">Lorem ipsum dolor</span>
            </div>
            <span class="viewers">1900 viewers</span>
        </div>
    </div>
    <div class="four">
        <div class="content-info small-grid">
            <div class="content-title">
                <span class="sub-title">Lorem ipsum dolor</span>
            </div>
            <span class="viewers">1900 viewers</span>
        </div>
    </div>
    <div class="five">
        <div class="content-info small-grid">
            <div class="content-title">
                <span class="sub-title">Lorem ipsum dolor</span>
            </div>
            <span class="viewers">1900 viewers</span>
        </div>
    </div>
    <div class="six">
        <div class="content-last">
            <mat-icon class="mat-icon-custom">cloud_upload</mat-icon>
            <div class="d-flex flex-column">
                <span>Upload</span>
                <span>Your Own Video</span>
            </div>
        </div>
    </div>
</div>