<div class="footer mb-3">
    <hr width="100%" />
    <div class="d-flex align-items-center justify-content-start gap-3 logos">
        <div class="d-flex align-items-center gap-2">
            <span class="custom-icons">
                <mat-icon
                    class="d-flex align-items-center justify-content-center custom-icons">call</mat-icon>
            </span>
        </div>
        <div class="d-flex align-items-center gap-2">
            <span class="custom-icons">
                <mat-icon class="d-flex align-items-center justify-content-center custom-icons">chat</mat-icon>
            </span>
        </div>
        <div class="d-flex align-items-center gap-2">
            <span class="custom-icons">
                <mat-icon class="d-flex align-items-center justify-content-center custom-icons">facebook</mat-icon>
            </span>
        </div>
    </div>
    <div class="d-flex gap-1 mt-3 mb-3 footer-menus pointer">
        <span class="menu-list">About</span>
        <span class="menu-list">For Business</span>
        <span class="menu-list">Suggestion</span>
        <span class="menu-list">Help & FAQs</span>
        <span class="menu-list">Contats</span>
        <span>Pricing</span>
    </div>
    <div class="d-flex flex-column terms">
        <span>&copy; Copyright 2023 PT. Donghay</span>
    </div>
    <span>Privacy /</span>
    <span> Terms </span>
</div>