.activity-container {
    color: var(--text-color);
}

.activity-header {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.line {
    border: 2px solid;
}

.activity-title {
    font-weight: 500;
    font-size: 20px;
}

.activity-list {
    display: flex;
    padding-bottom: 0.5rem;
}

.activity-image {
    margin-right: 0.5rem;
    width: 6rem;
    height: 4.5rem;
    background: var(--text-color);
    border-radius: 0.5rem;
}

.activity-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-name {
    font-size: 16px;
    font-weight: 500;
}

.detail-action {
    font-size: 12px;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .activity-container {
        width: 100%
    }
}