/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 7.9rem;
}

:root {
    --bg-color: #953E46;
    --text-color: #F4E3CF;
}

.pointer {
    cursor: pointer;
}

.custom-icons {
    background: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* video container */
.video-container {
    flex-grow: 0.8;
    color: var(--text-color);
}

.video-header {
    padding: 1rem 0;
    display: flex;
}

.video-title {
    flex-grow: 0.5;
    font-weight: 500;
    font-size: 20px;
}

/* end video container */


@media screen and (max-width: 620px) {
    .video-container {
        width: 100%;
    }
}