<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [mode]="'over'" position="end" [autoFocus]="false" [fixedInViewport]="true">
        <div class="sidenav-content-container">
            <app-sidenav (onToggle)="drawer.toggle()"></app-sidenav>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="d-flex flex-column" style="background-color: var(--white);">
            <app-navbar (onToggle)="drawer.toggle()"></app-navbar>
            <div class="main-content">
                <app-videos></app-videos>
                <app-activity></app-activity>
                <app-people></app-people>
                <app-channels></app-channels>
                <app-documents></app-documents>
                <app-footer></app-footer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>